.lightbox {
    /* border: 3px solid red; */
    /* display: block!important; */
    background-color: white;
}

.lightbox.open {
    display : block;
}

.lightbox__container {
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    position : absolute;
    /* border : 3px solid red; */
    max-width: 90%;
    width : 1200px;
    margin: auto; 
    height : 85vh;
    max-height : 800px;
    
}

.lightbox__controls {
    position : absolute;
    height : 100%;
    width : 100%;
}

.lightbox__slider {
    overflow: hidden;
    /* border :3px solid pink; */
    width : 90%;
    height : 100%;
    margin : auto;
    display : flex;
    position :relative;
    z-index:3;
}

.lightbox__slide {
    transition : transform 0.8s cubic-bezier(1,-0.28,.28,.93);
    transform : translateX(0%);
    position : absolute;
    /* z-index : 20; */
    /* border :2px solid red; */
    padding : 0 60px;

    background-color : white;
}

.lightbox__slide.swipeToLeft {
    z-index : 2;
    transform: translateX(-100%);
}

.lightbox__slide.swipeToRight {
    z-index : 2;
    transform: translateX(100%);
}


.lightbox__slide, .lightbox__card {
    /* border :2px solid black; */
    height: 100%;
    min-width : 100%;
}


.lightbox__title {
    color : #901C1C;
    background-color : white;
    text-align: center;
    /* overflow: visible; */
} 
.lightbox img,.lightbox video {
    object-fit: contain;
    width :100%;
    height: calc(100% - 45px);
    background-color : white;
}

.lightbox .fa-solid {
    font-size : 40px;
    color : #901C1C;
    position : absolute;
    cursor: pointer;
    transform : scale(1);
    transition : transform 0.2s ease-in-out;
}

.lightbox .fa-solid:hover {
    transform : scale(1.2);
}

.lightbox .fa-xmark {
    right : 0;
}

.lightbox .fa-angle-left {
    top : 50%
}

.lightbox .fa-angle-right {
    top : 50%;
    right : 0;
}