.modal {
    display : none;
    /* display :block; */
    width : 100vw;
    height : 100vh;
    top : 0px;
    left : 0;
    background-color :#9c93939c;
    box-sizing: border-box;
    z-index :30;
    position :fixed;
}


.modal.open {
    display :block;
}


.modal__container {
    border-radius: 5px;
    position : absolute;
    top: 50%;
    transform: translate(50%, -70%);
    background-color: #DB8876;
    box-shadow: 1px 0px 6px darkgrey;
    width: 50%;
    max-height: 95vh;
    overflow-y: scroll;
    display: flex;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    flex-direction: column;
    align-items: center;
    opacity: 0;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    /* transition: width 1s linear 2s, height 1s linear 2s; */
    -webkit-transition: all 900ms ease-in-out 200ms;
    -o-transition: all 900ms ease-in-out 200ms;
    -moz-transition: all 900ms ease-in-out 200ms;
    transition: all 900ms ease-in-out 200ms;
}

.modal__container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.modal__container.open {
    opacity : 1;
    transform: translate(50%, -50%);
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 53px;
    font-weight: normal;
    text-align: center;
}

.modal header button {
    border : none;
    background-color: inherit;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 32px;
    width : 100%;
    position :relative;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 20px;
}

form input, form textarea {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size :24px;
    padding : 5px 10px;
}

.modal__message textarea{
    height : 140px;
}

input:focus {
    border: 3px solid #D3573C!important;
}

label.error input {
    background-color : red;
    color : white;
}
label.error:not([for="message"])::after {
    content : "3 caractères minimum";
    position :absolute;
    /* top : 0; */
    bottom : 1px;
    left : 12px;
    font-size : 11px;
    /* display : none; */
    font-weight: 700;
    color : white;
}

label.error[for="email"]::after {
    content : "Merci de renseigner une adresse mail valide type prénom@gmail.com";
}