.recap {
    position : fixed;
    right : 25px;
    min-width : 280px;
    bottom : 0;
    display :flex;
    justify-content: space-between;
    border-radius : 7px 7px 0 0;
    background-color : #D3573C;
    padding : 18px 25px;
    
}

.recap span {
    font-size : 20px;
    letter-spacing: 2;
    font-weight : 600;
}