@import url("photographer.css");
@import url("media.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.photographer__name {
    color: #D3573C;
    font-size: 36px;

}

.photograph-header .photographer__details span {
    text-align : left;
    line-height: 2rem;
}


.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius : 50%;
    object-fit: cover;
}

.photographer__clickable {
    text-decoration : none;
    display: block;
    text-align: center;
}

.photographer__clickable img,
.photographer__clickable h2 {
    transition : transform 0.3s ease-in-out;
}

.photographer__clickable:hover img {
    transform : scale(1.05) translateY(5px);
}

.photographer__clickable:hover h2 {
    transform : translateY(-10px);
}
.photographer__details {
    display : flex;
    flex-flow: column nowrap;
    margin-top : -20px;
}
.photographer__details span {
    display :block;
    text-align: center;
}

.photographer__hometown {
    color : #901C1C;
    font-size : 18px;
    line-height : 1.8rem;
}

.photographer__price {
    color :#7a7a7a;
    line-height : 1.8rem;
    font-size : 13px;
}